.home .post .entry-title {
    font-size: var(--global--font-size-lg);
    margin-bottom: 0;
}

.post .entry-header {
    display: flex;
    flex-direction: column;
    .entry-title {
        margin-bottom: 0;
    }
    .entry-meta {
        order: -1;
        .posted-on {
            svg {
                display: none;
            }
            a {
                font-family: var(--global--font-primary);
                text-transform: uppercase;
            }
        }
    }
}

.sticky-post {
    background-color: var( --global--color-primary );
    margin-bottom: 0;
    width: fit-content;
}

.entry-content {
    .more-link {
        margin-top: 0;
        margin-left: 0.5rem;
        display: inline-block;
        color: var(--global--color-foreground);
        font-size: calc(0.75 * var(--global--font-size-base));
        &:hover {
            border: none;
            color: var(--global--color-primary);
        }
        &:after {
            content: none;
        }
        svg {
            height: var(--global--font-size-base);
            width: var(--global--font-size-base);
            margin-left: -0.25em;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(-90deg);
        }
    }
}
